/*DEBUGGER*/
/* html * {
	border: 1px solid lightgray;
}

html * * {
	border: 1px solid lightgray;
}

html * * * {
	border: 1px solid lightgray;
}

html * * * * {
	border: 1px solid lightgray;
}

html * * * * * {
	border: 1px solid lightgray;
} */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
/* 	border: 0; */
/* 	font-size: 16px; */
	font: inherit;
	font-family: 'Noto Serif KR', serif;

	vertical-align: baseline;
}

html {
	line-height: 1.2;
	font-size: 16px;
}
body {
	background-color: lightgray;
}

@media only screen and (min-width: 1000px) {
    html {
	    line-height: 1.2;
	    font-size: 14px;
    }

    body {
		max-width: 60vw;
		margin: auto;
    }

}

@media only screen and (min-width: 1400px) {
    html {
	    line-height: 1.2;
	    font-size: 14px;
    }

    body {
		max-width: 40vw;
		margin: auto;
    }

}



ol, ul {
	list-style: none;
	-webkit-list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*
And our custom styles
*/
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
	margin-bottom: 2rem;
}
h3 {
	font-size: 2rem;
}


/*
========================================================
Global Header
*/
header {
    height: 8rem;
    background-color: #131313;

    display: grid;
    grid-template-columns: 30rem auto;

    color: white;
}
.site_title_container {
	display: flex;
    align-items: center;
}
.site_title {
    font-size: 4rem;
    margin-left: 2rem;
}
/*site navigation list*/
.site_navigation_container {
	display: flex;
    align-items: center;
/*     justify-content: stretch; */
}

.site_navigation_list {
    width: 100%;

    display: grid;
    grid-template-columns: 50% auto;
/*     height: 100%; */
}

.site_navigation_listItem {
	font-size: 2.5rem;
	height: 100%;

	word-break: keep-all; 
	word-wrap:break-word;
}
.site_navigation_listItem.selected{
border-bottom: 1.5rem solid #AE2E1D;
}
.site_navigation_list a {
	text-decoration: none;
	color: inherit;
}

/*
========================================================
Introduction > Profile
*/
.profile_container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: auto 30rem;
}

.profile_name_container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0 2rem 2rem 0;
}
.profile_name {
	font-size: 4rem;
	font-weight: bold;
}

#profile_img {
    width: 30rem;
}

/*
========================================================
Global Content Card layout
*/

#contents {
	background-color: darkgray;
}
.content_card {
	margin: 2rem;
	padding: 2rem;

    background-color: white;
    border-radius: 2rem;
}

.content_card ul {
	margin-left: 2rem;
	list-style-type: disc;
}

.content_card ul li {
	margin-bottom: 1rem;
}

.content_container {
	border: 0.5rem solid #131313;

	margin-bottom: 4rem;
}


/*
========================================================
Stories Content Card layout
*/

.content_card.story_card ul {
	list-style-type: none;
}

.content_thumbnail_container {
	display: flex;
	justify-content: center;
}
.content_thumbnail {
	width: 100%;
	max-width: 50rem;
}
.content_title {
	padding: 4rem 0;

    border-top: 0.5rem solid #131313;
    border-bottom: 0.5rem solid #131313;

	text-align: center;
}
.content_title:before {
	content: "[ "
}
.content_title:after {
	content: " ]"
}

.button_container_link {
	text-decoration: none;
	color: inherit;
}
.button {
	text-align: center;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: lightgray;
	border: 1rem solid white;
	border-radius: 2rem;
}
.button_label {
	font-size: 2rem;
}

.foreign_sellers_container {
	border: 1px solid darkgray;

	padding: 2rem;
}
.type_title {
	display: block;
	border: 1px solid darkgray;
	text-align: center;

	padding: 2rem;

	font-size: 1.5rem;
}
.type_title:after, .type_title:before {
	content: " | "
}
.country_container {
	border: 1px solid darkgray;
	margin: 1rem 0;
}
.country_title {
	display: block;
	border: 1px solid darkgray;
	text-align: center;

	padding: 2rem;

	font-size: 1.5rem;
}

/*
========================================================
*/

footer {
    height: 5rem;
    background-color: #131313;
}
